<%- include('header.ejs') %>

    <main>
        <h1>PoyoTube!</h1>
        <h2>Video List</h2>
        <ul>
            <% videos.forEach(function(video) { %>
                <li>
                    <h2><%= video.title %></h2>
                    <video width="320" height="240" controls>
                        <source src="<%= video.url %>" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </li>
            <% }); %>
        </ul>
    </main>

<%- include('footer.ejs') %>