<%- include('header.ejs') %>
<link rel="stylesheet" href="/css/upload.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"
        integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/basic.css"
        integrity="sha512-+Vla3mZvC+lQdBu1SKhXLCbzoNCl0hQ8GtCK8+4gOJS/PN9TTn0AO6SxlpX8p+5Zoumf1vXFyMlhpQtVD5+eSw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <h2>Upload Video</h2>
    <form action="/upload" class="dropzone" id="videoDropzone">
        <div class="form-group">
            <label for="videoTitle">Title</label>
            <input type="text" name="title" id="videoTitle" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="videoDescription">Description</label>
            <textarea name="description" id="videoDescription" class="form-control" required></textarea>
        </div>
    </form>
    <button type="submit" id="submit">Upload</button>
    <script>
        Dropzone.options.videoDropzone = {
            paramName: "video", // The name that will be used to transfer the file
            maxFilesize: 1000000000, // MB
            acceptedFiles: ".mp4",
            autoProcessQueue: false,
            init: function () {
                this.on("success", function (file, response) {
                    // Handle the response from the server
                    console.log(response);
                });
                this.on("queuecomplete", function () {
                    window.location.href = "/";
                });
            }
        };
    </script>
    <script>
        document.getElementById("submit").addEventListener("click", function (e) {
            e.preventDefault();
            var myDropzone = Dropzone.forElement("#videoDropzone");
            var formData = new FormData();
            formData.append("videoTitle", document.getElementById("videoTitle").value);
            formData.append("videoDescription", document.getElementById("videoDescription").value);
            formData.append("jwt", '<%= jwt %>');
            myDropzone.on("sending", function (file, xhr, formData) {
                formData.append("videoTitle", document.getElementById("videoTitle").value);
                formData.append("videoDescription", document.getElementById("videoDescription").value);
                formData.append("jwt", '<%= jwt %>');
            });
            myDropzone.processQueue();
        });
    </script>

    <%- include('footer.ejs') %>