body {
    font-family: 'noto serif', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.header-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: orange;
}
.header .user {
    margin-inline-start: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}
.header .user * {
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding: 20px;
    height: 80vh;
}

.row-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.column-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hidden-link {
    text-decoration: none;
    color: black;
}